<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html ng-app="eisBoxToolsApp">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>EIS Village Server Box Management</title>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Home</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">EIS Village Server Box Management</h3>
    </div>

    {{{body}}}

    <footer class="footer">
      <p>&copy; Someone</p>
    </footer>

  </div> <!-- /container -->
    <script src="/static/js/jquery.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" charset="utf-8"></script>

    <script src="/static/js/angular.min.js" charset="utf-8"></script>
    <script src="/static/js/app.js" charset="utf-8"></script>
</body>
</html>
