<div class="row" ng-controller="BoxController">
  <div class="col-xs-12" ng-if="loading == false">
    <h2>{[{box["BoxID"]}]} - {[{box["Name"]}]}</h2>
    <strong>Description</strong>: {[{box["Description"]}]} <br>
    <strong>Country</strong> {[{box["Country"]}]} <br>
    <strong>Language</strong> {[{box["Language"]}]} <br>
    <strong>Date Created</strong> {[{box["DateCreated"]}]} <br>
    <strong>Last Updated</strong> {[{box["LastUpdated"]}]} <br>
    <strong>Last Synced</strong> {[{box["LastSynced"]}]} <br>
    <strong>Status</strong> {[{box["Status"]}]}<br>

    VIEW FILES, UPLOAD FILE
  </div>
</div>
