<div class="row">
  <div class="col-md-6">
    <a href="/boxes">
      <div class="jumbotron">
        <h1>View Boxes</h1>
      </div>
    </a>
  </div>
  <div class="col-md-6">
    <a href="/create">
      <div class="jumbotron">
        <h1>Create Box</h1>
      </div>
    </a>
  </div>
</div>
